#bundle-office .review {
    margin-right: 500px !important;
}

.yap-control-panel {
    background-color: white;
    width: 500px;
    height: 100vh;
    position: fixed;
    border-left: 1px solid black;
    padding: 0;
    z-index: 20000;
    right: 0;
    top: 0;
    font-size: 13px;
    color: #333333;
}

.yap-control-panel * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
}

.yap-control-panel.yap-control-panel_closed {
    width: auto;
    height: auto;
    border-bottom-left-radius: 5px;
}

.yap-header {
    text-align: center;
    border-bottom: 1px solid #333333;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 50px;
    width: 100%;
}

.yap-control-panel_closed .yap-header {
    width: auto;
}

.yap-header-toolbar {
    background-color: #1abc9c;
    padding: 10px;
    margin: 0;
    list-style: none;
}

.yap-header-toolbar__item {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 0 10px;
    background-color: #138d79;
}

.yap-control-panel__content {
    z-index: 5;
    position: relative;
    top: 51px;
    height: calc(100vh - 51px);
    overflow-y: scroll;
}

.yap-control-panel_closed .yap-header-toolbar__item {
    display: none;
}

.yap-header-toolbar__item_open {
    display: none;
}

.yap-control-panel_closed .yap-header-toolbar__item_open {
    display: inline-block;
}

.yap-header-toolbar__item.yap-_clickable {
    color: #ffffff;
}

.yap-header-toolbar__item.yap-_clickable:hover {
    text-decoration: none;
}

.yap-result {
    border-bottom: 1px solid #aaaaaa;
    padding: 0;
}

.yap-result__success {
    background-color: green;
}

.yap-rule {
    padding: 10px 10px 0;
    position: relative;
}

.yap-rule > * {
    padding-bottom: 10px;
}

.yap-rule__name {
    text-align: right;
    color: #666;
    font-size: .8rem;
}

.yap-rule__description {
    user-select: all;
    cursor: pointer;
    margin-left: 30px;
    white-space: pre-line;
}

.yap-rule__type {
    user-select: all;
    cursor: pointer;
    text-decoration: underline;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    line-height: 0;
    border-radius: 21px;
    padding: 0;
    margin: 0;
}

.yap-rule_reject .yap-rule__type {
    background-color: #e63946;
    opacity: .7;
}

.yap-rule_fix .yap-rule__type {
    background-color: #f3722c;
    opacity: .7;
}

.yap-rule_better .yap-rule__type {
    background-color: #98c1d9;
    opacity: .5;
}

.yap-result__extra {
    display: block;
    padding-left: 10px;
    unicode-bidi: embed;
    margin-top: -10px;
    margin-bottom: -10px;
    white-space: pre-line;
    font-size: .7rem;
    opacity: .8;
    color: #355070;
}

.yap-result__extra-raw {
    font-family: monospace;
    white-space: pre;
    font-size: .6em;
}

.yap-result__extra-positioned {

}

.yap-_collapsed {
    display: none;
}

.yap-_clickable {
    color: #023e8a;
    cursor: pointer;
}

.yap-_clickable:hover {
    text-decoration: underline;
}

.yap-error {
    border-top: 1px solid #f0efeb;
    margin: 10px 0 10px 10px;
    padding-top: 10px;
}

.yap-error:last-child {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.yap-error__filepath {
    margin-bottom: 10px;
    color: salmon;
}

.yap-error__message {
    margin-bottom: 5px;
    overflow: hidden;
}

/* Tooltip container */
.yap-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.yap-tooltip .yap-tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 8px 12px;
    border-radius: 6px;
    position: absolute;
    z-index: 90;
    bottom: 110%;
    left: 135px;
    margin-left: -230px;
    opacity: 0.7;
}

/* Show the tooltip text when you mouse over the tooltip container */
.yap-tooltip:hover .yap-tooltiptext {
    visibility: visible;
}

.yap-tooltip:hover .yap-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.yap-checklist {
    padding: 10px;
}

.yap-checklist h3, .yap-checklist h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 5px 0;
}

.yap-checklist ul {
    list-style-type: none;
    padding: 0 0 0 15px;
    margin: 0 0 10px;
}

.yap-checklist li {
    padding: 0;
    margin: 0;
}

.yap-checklist > ul {
    padding-left: 0;
}

.yap-checklist label {
    cursor: pointer;
    line-height: 20px;
    display: inline;
    user-select: all;
}

.yap-checklist [type="checkbox"] {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 3px;
}

.yap-checklist input:checked + label {
    background-color: salmon;
}

.yap-result__extra-simple_error {
    user-select: all;
    cursor: pointer;
}